<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       <b>this is the about of our website</b> 
    </h1>
    <h2>
        i know this is not the cool about page but this is just for the only the practic purpose okay
    </h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa magni fugiat mollitia facilis asperiores expedita obcaecati pariatur quisquam fuga? Deserunt numquam error molestias officia est! Illum sed consequuntur, nobis exercitationem dolor unde a esse recusandae ullam quia inventore repudiandae sapiente ipsum hic quam ipsa reiciendis dicta dignissimos voluptatibus cupiditate debitis nam? Provident impedit, numquam natus rem voluptates, est odit beatae iste quae eaque hic tempore, sunt officia quia animi quos sint! Provident reiciendis cupiditate, sit, quia nobis omnis aut natus odio quas magnam, ullam excepturi. Magnam, iusto pariatur. Laboriosam dolorem animi deleniti obcaecati ab fugiat porro temporibus aliquam! In, nobis.
    </p>
    <h3>
        okay end !
    </h3>
</body>
</html>