<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <b>Hello everyone present here</b>
    </h1>
    <h2>
        this is my newly created website yesss
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi distinctio esse ullam atque earum praesentium, molestias minima accusantium libero, autem dolores velit reiciendis repudiandae, voluptate inventore commodi repellendus quis mollitia.</p>
    <h3>
        okayy byee!
        see yaaaaaaa!
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus alias omnis quasi reprehenderit nulla tenetur numquam dolore laborum illo, odio, est consectetur nemo, fugiat consequatur consequuntur enim harum amet non animi maiores perspiciatis quas cumque? At molestias animi doloremque id deserunt repellat vero, rerum officiis adipisci beatae, nostrum corrupti facere.</p>

</body>
</html>